.card {
    position: relative;
    display: flex;
    align-items: flex-start;
    color: var(--secondary-gray);
    text-align: left;
}

.card-info {
    display: flex;
    flex-direction: column;
    gap: var(--main-text-gap);
    margin-inline-start: var(--main-content-gap);
}

.poster {
    position: relative;
    width: 100%;
    max-width: 136px;
    height: 200px;

    img {
        object-fit: cover;
    }
}
