.container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--small-padding);
    width: 100%;
}

.label {
    position: relative;
    color: var(--background-gray);
    pointer-events: none;

    @include text-primary;
}

.input {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: var(--item-padding);
    overflow: hidden;
    font-family: var(--font-family);
    background-color: rgb(255 255 255 / 0%);
    border: 1px solid var(--input-border-color);
    border-radius: var(--item-border-radius);
    outline: none;
    box-shadow: var(--input-border-shadow);
    transition: var(--item-transition-all);
    padding-inline: var(--item-inline-padding);

    --input-border-color: var(--secondary-gray);
    --input-shadow-color: transparent;
    --input-border-shadow: 0 0 0 1px var(--input-shadow-color);

    &.input {
        height: var(--button-height);
        max-height: var(--button-height);
    }

    &.textarea {
        height: auto;
        min-height: 120px;
        overflow: auto;
        resize: vertical;
    }

    &.start {
        padding-inline-start: 36px;
    }

    &.end {
        padding-inline-end: 36px;
    }

    &:hover {
        background-color: rgb(255 255 255 / 5%);
    }

    &:active {
        background-color: rgb(255 255 255 / 3%);
    }

    &::placeholder {
        color: var(--secondary-gray);
        transition: var(--item-transition-all);
    }

    &:focus {
        &::placeholder {
            color: var(--light-gray);
        }

        --input-shadow-color: var(--light-gray);
    }

    &.with-error {
        --input-border-color: var(--error-red);
        --input-shadow-color: transparent;
    }
}

.input-container {
    position: relative;
}

.end-icon {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    aspect-ratio: 1;

    &.start {
        left: 0;
    }

    &.end {
        right: 0;
    }
}
