.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--small-padding);
}

.label {
    position: relative;
    pointer-events: none;

    @include text-primary;
}

.input {
    position: relative;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: var(--button-height);
    max-height: var(--button-height);
    border-radius: var(--item-border-radius);
    padding: var(--item-padding);
    padding-inline: var(--item-inline-padding);
    font-family: var(--font-family);
    transition: var(--item-transition-all);
    overflow: hidden;
    outline: none;
    box-shadow: var(--input-border-shadow);

    &:hover {
        background-color: rgba(255, 255, 255, 0.05);
    }

    &:active {
        background-color: rgba(255, 255, 255, 0.03);
    }

    &::placeholder {
        transition: var(--item-transition-all);
        color: var(--secondary-gray);
    }

    &:focus {
        &::placeholder {
            color: var(--light-gray);
        }

        box-shadow: var(--input-border-shadow-active);
    }

    &.with-error {
        box-shadow: var(--input-border-shadow-error);
    }
}

.error-hint {
    @include text-secondary;
    color: var(--error-red);
    animation: fade-in-error 300ms ease-in-out;
    contain: content;
    overflow: visible;
}

@keyframes fade-in-error {
    0% {
        opacity: 0;
        height: 0;

        transform: translateY(-4px);
    }

    50% {
        opacity: 0;
        height: 15px;
        transform: translateY(-4px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        height: 15px;
    }
}
