.top {
    display: flex;
    gap: var(--main-content-gap);
}

.avatar {
    --avatar-size: 64px;
}

.username {
    display: flex;
    flex-direction: column;
    gap: 2px;

    > *:first-child {
        color: var(--light-gray);
    }

    > *:last-child {
        color: var(--secondary-gray);
    }
}

.table {
    margin-block-start: calc(var(--main-content-gap) / 2);

    td {
        vertical-align: top;
        padding-block: calc(var(--main-content-gap) / 2);

        &:first-child {
            color: var(--light-gray);
            padding-inline-end: var(--small-padding);

            @include text-primary;
        }
    }
}

.title-cell {
    @include text-primary;

    font-weight: bold;
}

.rating-badge {
    @include text-secondary-small;

    width: fit-content;
    color: var(--white);
    font-weight: 800;
    background-color: var(--rating-badge-color);
    border-radius: 4px;
    padding-inline: var(--small-padding);
    padding-block: 4px;

    @include rating-badge-color;
}

.action-buttons {
    display: flex;
    margin-inline-start: auto;
    gap: var(--main-content-gap);
}

.text-td {
    @include cut-for-n-rows(8);

    padding-bottom: 0 !important;

    &.small {
        @include cut-for-n-rows(5);
    }
}

.likes-container {
    display: flex;
    gap: var(--main-text-gap);
    align-items: center;
}

.dislike-button {
    margin-inline-start: var(--main-padding);

    img {
        transform: rotate(180deg);
    }
}

.rating-cell {
    display: flex;
    gap: var(--main-text-gap);
    align-items: center;
}
