{
    "arrowParens": "always",
    "bracketSpacing": true,
    "endOfLine": "lf",
    "jsxSingleQuote": false,
    "parser": "typescript",
    "printWidth": 80,
    "proseWrap": "preserve",
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "useTabs": false,
    "overrides": [
        {
            "files": ["**/*.json", ".*rc"],
            "options": {
                "parser": "json"
            }
        },
        {
            "files": ["**/*.css"],
            "options": {
                "parser": "css"
            }
        },
        {
            "files": ["**/*.scss", "**/*.sass"],
            "options": {
                "parser": "scss"
            }
        }
    ]
}
