.container {
    display: flex;
    flex-direction: column;
}

.reviews-block {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.write-review-block {
    max-width: 520px;
    margin-block-start: calc(var(--main-padding-2) * 2);

    @include mobile {
        max-width: 100%;
    }
}

.bottom-block {
    display: flex;
    margin-block-start: calc(var(--main-padding-2) * 5);
    gap: var(--main-padding-2);
}

.similar-list {
    margin-block-start: calc(var(--main-padding-2) * 2);
}
