.modal-content {
    position: relative;
    padding: var(--main-content-gap) var(--large-padding);
    background: transparent;
    background-color: rgb(0 0 0 / 0%);
    border: 1px solid rgb(255 255 255 / 2%);
    border-radius: var(--card-border-radius);
}

.modal {
    background-color: rgb(0 0 0 / 30%) !important;
    border-radius: var(--card-border-radius);
    box-shadow: rgb(0 0 0 / 35%) 0 5px 15px !important;
    backdrop-filter: blur(24px);
}

.buttons-container {
    display: flex;
    gap: var(--main-content-offset);
    justify-content: center;
    margin-block-start: var(--main-content-offset);

    button {
        flex-grow: 1;
    }
}

.text {
    @include text-primary;
}
