@keyframes gradient {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 100%;
    }
}

.button {
    padding: var(--item-padding);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: var(--button-height);
    border-radius: var(--item-border-radius);
    appearance: none;
    border: none;
    background: var(--primary-gradient);
    transition: var(--item-transition-all);

    @include text-button;

    &:not(:disabled) {
        cursor: pointer;
    }

    &:hover {
        animation: gradient 600ms linear infinite;
        background-size: 150%;
        animation-direction: alternate;
        transform: scale(1.01);
    }

    &:active {
        transform: scale(0.99);
        filter: opacity(0.8);
    }

    &:disabled,
    &.loading {
        pointer-events: none;
        user-select: none;
        filter: opacity(0.8);
    }

    &.loading {
        animation: gradient 600ms linear infinite;
        background-size: 150%;
        animation-direction: alternate;
    }
}
