@keyframes gradient {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 100%;
    }
}

.button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--button-height);
    text-align: center;
    background: var(--primary-gradient);
    border-width: 0;
    border-radius: var(--item-border-radius);
    transition: var(--item-transition-all);
    appearance: none;
    padding-block: var(--item-padding);
    padding-inline: var(--item-inline-padding);

    @include text-button;

    &:not(:disabled) {
        cursor: pointer;
    }

    &:hover {
        background-size: 150%;
        transform: scale(1.01);
        animation: gradient 600ms linear infinite;
        animation-direction: alternate;
    }

    &:active {
        transform: scale(0.99);
        filter: opacity(0.8);
    }

    &:disabled,
    &.loading {
        filter: opacity(0.8);
        user-select: none;
        pointer-events: none;
    }

    &.loading {
        background-size: 150%;
        animation: gradient 600ms linear infinite;
        animation-direction: alternate;
    }

    &.outlined {
        color: var(--background-gray);
        background: transparent;
        box-shadow: var(--input-border-shadow);
        cursor: pointer;

        &:hover {
            background-color: rgb(1 1 1 / 20%);
            transform: none;
            animation: none;
        }

        &:active {
            background-color: rgb(1 1 1 / 30%);
        }
    }
}
