.avatar {
    --avatar-size: 64px !important;
}

.top {
    display: flex;
    flex-wrap: wrap;
    gap: var(--large-padding);
    align-items: center;
    justify-content: space-between;
}

.form {
    display: flex;
    flex-direction: column;
    gap: var(--main-content-gap);

    button {
        width: fit-content;
        min-width: 140px;
    }
}
