.error {
    width: 100%;
    color: var(--error-red);
    text-align: center;
    animation: fade-in-error 300ms ease-in-out;

    &.hint {
        @include text-secondary;

        overflow: visible;
        color: var(--error-red);
        text-align: start;
        animation: fade-in-hint 300ms ease-in-out;
        contain: content;
    }
}

@keyframes fade-in-error {
    0% {
        height: 0;
        transform: translateY(-4px);
        opacity: 0;
    }

    50% {
        height: 18px;
        transform: translateY(-4px);
        opacity: 0;
    }

    100% {
        height: 18px;
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in-hint {
    0% {
        height: 0;
        transform: translateY(-4px);
        opacity: 0;
    }

    50% {
        height: 15px;
        transform: translateY(-4px);
        opacity: 0;
    }

    100% {
        height: 15px;
        transform: translateY(0);
        opacity: 1;
    }
}

.message {
    max-width: 100%;

    @include cut-for-n-rows(2);
}
