.link {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    height: 40px;

    @include hover {
        .logo {
            transform: rotate(10deg);
        }
    }
}

.logo {
    width: auto !important;
    height: 100% !important;
    transition: var(--item-transition-all);
    aspect-ratio: 1;
}

.text {
    width: auto !important;
    height: 70% !important;
    aspect-ratio: 5;

    svg {
        path {
            fill: var(--text-color);
        }
    }

    @include mobile {
        display: none !important;
    }
}
