.link {
    display: flex;
    align-items: flex-end;

    svg {
        transition: var(--item-transition-all);

        path {
            transition: var(--item-transition-all);
        }
    }

    @include hover {
        svg {
            transform: rotate(10deg);

            path {
                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(5),
                &:nth-child(6) {
                    fill: var(--purple);
                }
            }
        }
    }
}

.text {
    @include text-header-1;

    font-weight: bold;
}
