:root {
    font-variation-settings: normal;
    text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    font-family: var(--font-family);
    color-scheme: dark;

    color: #efefef;
    font-size: 14px;

    /* Font*/
    --font-family: 'Wix Madefor Display', arial, helvetica, sans-serif;

    /* Variables  */
    --small-padding: 8px;
    --item-border-radius: 6px;
    --item-padding: 8px;
    --item-inline-padding: 12px;
    --button-height: 36px;
    --input-border-shadow: 0 0 0 1px var(--secondary-gray);
    --input-border-shadow-active: 0 0 0 2px var(--light-gray);
    --input-border-shadow-error: 0 0 0 1px var(--error-red);
    --main-content-gap: 12px;
    --main-content-offset: 16px;
    --main-text-gap: 8px;
    --max-content-width: 1200px;
    --card-border-radius: 16px;
    --main-padding: 16px;
    --large-padding: 24px;

    /* Header */
    --header-height: 80px;
    --header-z-index: 100;

    /* Transitions */
    --item-transition-all: all 200ms ease-in-out;

    /* Colors*/
    --black: #0f1014;
    --logo-black: #131e20;
    --white: #fff;
    --solid-blue: #477bff;
    --success: #50b773;
    --background-gray: #f0f1f3;
    --light-gray: #9ba1a8;
    --secondary-gray: #65686c;
    --error-red: #ed0a34;
    --primary-gradient: linear-gradient(
        270deg,
        #6f5aff 0%,
        #c135ff 50.5%,
        #ff3797 100%
    );
    --background: rgba(38, 32, 57, 1)
        linear-gradient(
            180deg,
            rgba(38, 32, 57, 1) 0%,
            rgba(15, 17, 21, 1) 100%
        );
}

html {
    overflow-y: auto;
}

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow-x: hidden;

    * {
        box-sizing: border-box;
    }
}

a {
    color: inherit;
    text-decoration: inherit;
}

input {
    // all: unset;
    appearance: none;
}

#root {
    height: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.index-page {
    margin: 0;
    display: flex;
    justify-content: center;
    background: rgba(38, 32, 57, 1)
        linear-gradient(
            180deg,
            rgba(38, 32, 57, 1) 0%,
            rgba(15, 17, 21, 1) 100%
        );
    font-weight: 300;
    padding: 0 0 100px;
}

.header {
    background-color: rgba(0, 0, 0, 30%);
    color: #fff;
    padding-top: 8px;
    padding-bottom: 8px;
    position: fixed;
    top: 0;
    width: 100%;
    max-height: 80px;
    z-index: 1000;
    display: flex;
    justify-content: center;
}

.header-logo {
    align-self: center;
}

.header-panel {
    margin-left: auto;
    align-self: center;
}

.card {
    display: flex;
    align-items: flex-start;
    color: #65686c;
    text-align: left;
    position: relative;
    animation-name: card-show;
    animation-duration: 0.8s;
}

@keyframes card-show {
    0% {
        top: 64px;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

h5 {
    font-size: 20px;
    font-weight: normal;
    margin: 0;
    color: #efefef;
}

h4 {
    font-size: 24px;
    font-weight: normal;
    margin: 0;
    color: #efefef;
}

span {
    font-size: 14px;
}

button.outline {
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    padding: 8px 12px;
    color: #f0f1f3;
    background-color: rgba(0, 0, 0, 0%);
    border-color: #65686c;
    border-style: solid;
    border-width: 1px;
}

button.outline:hover {
    background-color: rgba(1, 1, 1, 20%);
    cursor: pointer;
}

button.outline:active {
    background-color: rgba(1, 1, 1, 30%);
}

div.categories {
    display: flex;
    gap: 12px;
    margin: 16px 0;
}
