/* stylelint-disable selector-max-id */
:root {
    color: var(--text-color);
    font-size: var(--font-size);
    font-family: var(--font-family);
    line-height: 1.25;
    font-variation-settings: normal;
    text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizespeed;
    color-scheme: dark;

    /* Font */
    --font-size: 14px;
    --font-family: 'Wix Madefor Display', arial, helvetica, sans-serif;

    /* Variables  */
    --small-padding: 8px;
    --item-border-radius: 8px;
    --item-padding: 8px;
    --item-inline-padding: 12px;
    --button-height: 36px;
    --input-border-shadow: 0 0 0 1px var(--secondary-gray);
    --input-border-shadow-active: 0 0 0 1px var(--light-gray);
    --input-border-shadow-error: 0 0 0 1px var(--error-red);
    --main-content-gap: 12px;
    --main-content-offset: 16px;
    --main-text-gap: 8px;
    --max-content-width: calc(1200px + 2 * var(--main-padding-2));
    --card-border-radius: 16px;
    --main-padding: 16px;
    --main-padding-2: 32px;
    --large-padding: 24px;
    --footer-height: 240px;
    --main-content-padding: 32px;

    /* Header */
    --header-height: 80px;

    /* z-indexes */
    --header-z-index: 100;
    --modal-z-index: 1000;
    --popup-z-index: 900;

    /* Transitions */
    --item-transition-all: all 200ms ease;

    /* Colors rgb */
    --absolute-rgb: 0 0 0; // #000000
    --light-gray-rgb: 155 161 168; // #9ba1a8
    --secondary-gray-rgb: 101 104 108; // #65686c
    --logo-black-rgb: 19 30 32; // #131e20
    --violet-dark-rgb: 38 32 57; // #262039
    --violet-black-rgb: 15 17 21; // #0f1115
    --violet-rgb: 111 90 255; // #6f5aff
    --error-red-rgb: 237 10 52; // #ed0a34
    --light-rgb: 240 241 243; // #f0f1f3;

    /* Colors */
    --absolute: rgb(var(--absolute-rgb));
    --absolute-op-10: rgb(var(--absolute-rgb) / 10%);
    --absolute-op-20: rgb(var(--absolute-rgb) / 20%);
    --absolute-op-30: rgb(var(--absolute-rgb) / 30%);
    --absolute-op-40: rgb(var(--absolute-rgb) / 40%);
    --absolute-op-50: rgb(var(--absolute-rgb) / 50%);
    --absolute-op-60: rgb(var(--absolute-rgb) / 60%);
    --absolute-op-70: rgb(var(--absolute-rgb) / 70%);
    --absolute-op-80: rgb(var(--absolute-rgb) / 80%);
    --absolute-op-90: rgb(var(--absolute-rgb) / 90%);
    --light: rgb(var(--light-rgb));
    --light-op-50: rgb(var(--light-rgb) / 50%);
    --black: #0f1014;
    --logo-black: rgb(var(--logo-black-rgb));
    --white: #ffffff;
    --text-color: #efefef;
    --solid-blue: #477bff;
    --success: #50b773;
    --background-gray: #f0f1f3;
    --pink: #ff3797;
    --purple: #c135ff;
    --violet: rgb(var(--violet-rgb)); // #6f5aff
    --violet-dark: rgb(var(--violet-dark-rgb)); // #262039;
    --violet-black: rgb(var(--violet-black-rgb)); // #0f1115
    --violet-black-op-80: rgb(var(--violet-black-rgb) / 80%);
    --light-gray: rgb(var(--light-gray-rgb));
    --light-gray-op-30: rgb(var(--light-gray-rgb) / 30%);
    --secondary-gray: rgb(var(--secondary-gray-rgb));
    --secondary-gray-op-20: rgb(var(--secondary-gray-rgb) / 20%);
    --secondary-gray-op-30: rgb(var(--secondary-gray-rgb) / 30%);
    --error-red: rgb(var(--error-red-rgb));
    --error-red-op-20: rgb(var(--error-red-rgb) / 20%);
    --yellow: #f5c518;
    --primary-gradient: linear-gradient(
        270deg,
        var(--violet) 0%,
        var(--purple) 50%,
        var(--pink) 100%
    );
    --background: var(--violet-dark)
        linear-gradient(180deg, var(--violet-dark) 0%, var(--violet-black) 100%);

    /** Shadows */
    --modal-shadow: rgb(0 0 0 / 35%) 0 5px 15px;

    @include tablet {
        --font-size: 15px;
        --main-content-padding: 24px;
    }

    @include mobile {
        --font-size: 16px;
        --main-content-padding: 16px;

        /* Header */
        --header-height: 64px;
    }
}

html {
    @include custom-scrollbar;

    * {
        box-sizing: border-box;
    }
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    overflow: auto;
    background: var(--background);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

a {
    color: inherit;
    text-decoration: inherit;
}

input {
    appearance: none;
}

input,
button,
textarea,
select {
    font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.loader-container {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.text-header-3-light {
    @include text-header-3-light;
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.hide-on-mobile {
    @include mobile {
        display: none;
    }
}

.hide-on-desktop {
    @include not-mobile {
        display: none;
    }
}
