/* stylelint-disable selector-max-id */
:root {
    color: #efefef;
    font-size: var(--font-size);
    font-family: var(--font-family);
    font-variation-settings: normal;
    text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizespeed;
    color-scheme: dark;

    /* Font */
    --font-size: 14px;
    --font-family: 'Wix Madefor Display', arial, helvetica, sans-serif;

    /* Variables  */
    --small-padding: 8px;
    --item-border-radius: 6px;
    --item-padding: 8px;
    --item-inline-padding: 12px;
    --button-height: 36px;
    --input-border-shadow: 0 0 0 1px var(--secondary-gray);
    --input-border-shadow-active: 0 0 0 1px var(--light-gray);
    --input-border-shadow-error: 0 0 0 1px var(--error-red);
    --main-content-gap: 12px;
    --main-content-offset: 16px;
    --main-text-gap: 8px;
    --max-content-width: 1200px;
    --card-border-radius: 16px;
    --main-padding: 16px;
    --main-padding-2: 32px;
    --large-padding: 24px;

    /* Header */
    --header-height: 80px;

    /* z-indexes */
    --header-z-index: 100;
    --modal-z-index: 1000;

    /* Transitions */
    --item-transition-all: all 200ms ease-in-out;

    /* Colors */
    --black: #0f1014;
    --logo-black: #131e20;
    --white: #ffffff;
    --solid-blue: #477bff;
    --success: #50b773;
    --background-gray: #f0f1f3;
    --light-gray: #9ba1a8;
    --secondary-gray: #65686c;
    --error-red: #ed0a34;
    --yellow: #f5c518;
    --primary-gradient: linear-gradient(
        270deg,
        #6f5aff 0%,
        #c135ff 50.5%,
        #ff3797 100%
    );
    --background: rgb(38 32 57 / 100%)
        linear-gradient(
            180deg,
            rgb(38 32 57 / 100%) 0%,
            rgb(15 17 21 / 100%) 100%
        );

    @include tablet {
        --font-size: 13px;
    }

    @include mobile {
        --font-size: 12px;

        /* Header */
        --header-height: 64px;
    }
}

html {
    width: 100vw;
    height: 100%;
    overflow: hidden auto;
    overflow-x: hidden;
    scroll-behavior: smooth;

    * {
        box-sizing: border-box;
    }
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: inherit;
}

input {
    appearance: none;
}

#root {
    height: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
