/* Screen */
$screen-mobile-max: 768px;
$screen-tablet-max: 992px;
$screen-notebook-max: 1200px;
$screen-large-monitor-min: calc($screen-notebook-max + 1px);

@mixin mobile {
    @media screen and (max-width: #{$screen-mobile-max}) {
        @content;
    }
}

@mixin not-mobile {
    @media screen and (min-width: #{calc($screen-mobile-max + 1px)}) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: #{$screen-tablet-max}) {
        @content;
    }
}

/* desktop === not-tablet */
@mixin desktop {
    @media screen and (min-width: #{calc($screen-tablet-max + 1px)}) {
        @content;
    }
}

@mixin notebook {
    @media screen and (max-width: #{$screen-notebook-max}) {
        @content;
    }
}

@mixin not-notebook {
    @media screen and (min-width: #{calc($screen-notebook-max + 1px)}) {
        @content;
    }
}

@mixin large-monitor {
    @media screen and (min-width: #{$screen-large-monitor-min}) {
        @content;
    }
}

@mixin text-button {
    font-weight: 700;
    font-size: 1.125rem;
    font-family: var(--font-family);
}

@mixin text-secondary-small {
    color: var(--secondary-gray);
    font-weight: 400;
    font-size: 0.725rem;
    font-family: var(--font-family);
}

@mixin text-secondary {
    color: var(--secondary-gray);
    font-weight: 400;
    font-size: 0.85rem;
    font-family: var(--font-family);
}

@mixin text-secondary-link {
    @include text-secondary;

    text-decoration: underline;
    text-decoration-skip-ink: none;
}

@mixin text-primary {
    font-weight: 500;
    font-size: 1rem;
    font-family: var(--font-family);
}

@mixin text-primary-light {
    font-weight: 400;
    font-size: 1rem;
    font-family: var(--font-family);
}

@mixin text-primary-light-link {
    @include text-primary-light;

    text-decoration: underline;
    text-decoration-skip-ink: none;
}

@mixin text-header-5 {
    font-weight: 400;
    font-size: 1.5rem;
    font-family: var(--font-family);
}

@mixin text-header-4 {
    font-weight: 500;
    font-size: 1.725rem;
    font-family: var(--font-family);
}

@mixin text-header-3 {
    font-weight: 700;
    font-size: 2rem;
    font-family: var(--font-family);
}

@mixin text-header-3-light {
    font-weight: 400;
    font-size: 2rem;
    font-family: var(--font-family);
}

@mixin text-header-2 {
    font-weight: 500;
    font-size: 2.25rem;
    font-family: var(--font-family);
}

@mixin text-header-1 {
    font-weight: 500;
    font-size: 2.5rem;
    font-family: var(--font-family);
}

@mixin cut-for-n-rows($n: 2) {
    /* stylelint-disable-next-line value-no-vendor-prefix */
    display: -webkit-box;
    overflow: hidden;
    white-space: pre-line;
    text-overflow: ellipsis;
    -webkit-line-clamp: $n;
    -webkit-box-orient: vertical;
}

@mixin rating-badge-color {
    --rating-badge-color: transparent;

    &.bad {
        --rating-badge-color: var(--error-red);
    }

    &.medium {
        --rating-badge-color: var(--yellow);
    }

    &.good {
        --rating-badge-color: var(--success);
    }
}

@mixin custom-scrollbar {
    /* плашка-бегунок и фон */

    &::-webkit-scrollbar {
        width: 6px; /* в основном для вертикальных полос прокрутки */
        height: 6px; /* в основном для горизонтальных полос прокрутки */
    }

    &::-webkit-scrollbar-thumb {
        /* плашка-бегунок */
        background: #6f5aff;
        border-radius: 8px;
    }

    &:-webkit-scrollbar-track {
        /* фон */
        background: transparent;
    }

    scrollbar-color: #6f5aff transparent;
}

@mixin card-hover-effect {
    position: relative;

    &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 0;
        width: calc(100% + var(--large-padding));
        height: calc(100% + var(--large-padding));
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: var(--card-border-radius);
        transform: translateX(-50%) translateY(-50%);
        transition: var(--item-transition-all);
        content: '';
    }

    &:focus-visible,
    &:hover {
        outline: none;

        &::before {
            background-color: var(--absolute-op-10);
            border: 1px solid var(--secondary-gray-op-30);
        }
    }

    &:active {
        &::before {
            background-color: var(--absolute-op-20);
        }
    }

    > * {
        z-index: 1;
    }
}

@mixin fade-in($rule: 200ms ease-out) {
    animation: fade-in $rule;
}

@keyframes fade-in {
    0% {
        transform: translateY(16px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
