@mixin text-button {
    font-weight: 700;
    font-size: 16px;
    font-family: var(--font-family);
}

@mixin text-secondary-small {
    color: var(--secondary-gray);
    font-weight: 400;
    font-size: 10px;
    font-family: var(--font-family);
}

@mixin text-secondary {
    color: var(--secondary-gray);
    font-weight: 400;
    font-size: 12px;
    font-family: var(--font-family);
}

@mixin text-secondary-link {
    @include text-secondary;

    text-decoration: underline;
    text-decoration-skip-ink: none;
}

@mixin text-primary {
    font-weight: 500;
    font-size: 14px;
    font-family: var(--font-family);
}

@mixin text-primary-light {
    font-weight: 400;
    font-size: 14px;
    font-family: var(--font-family);
}

@mixin text-primary-light-link {
    @include text-primary-light;

    text-decoration: underline;
    text-decoration-skip-ink: none;
}

@mixin text-header-5 {
    font-weight: 400;
    font-size: 20px;
    font-family: var(--font-family);
}

@mixin text-header-4 {
    font-weight: 500;
    font-size: 24px;
    font-family: var(--font-family);
}

@mixin text-header-3 {
    font-weight: 700;
    font-size: 28px;
    font-family: var(--font-family);
}

@mixin text-header-2 {
    font-weight: 500;
    font-size: 32px;
    font-family: var(--font-family);
}

@mixin text-header-1 {
    font-weight: 500;
    font-size: 36px;
    font-family: var(--font-family);
}
