.container {
    height: 20px;
    animation: fade-in 200ms ease-in-out;
    contain: content;
}

.spinner {
    display: inline-block;
    box-sizing: border-box;
    height: 100%;
    border-top: 2px solid #ffffff;
    border-right: 2px solid transparent;
    border-radius: 50%;
    animation: rotation 800ms linear infinite;
    aspect-ratio: 1;
}

@keyframes fade-in {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
