.container {
    height: 20px;

    animation: fade-in 200ms ease-in-out;
}

.spinner {
    height: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    display: inline-block;
    border-top: 2px solid #fff;
    border-right: 2px solid transparent;
    box-sizing: border-box;
    animation: rotation 800ms linear infinite;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: scale(0.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
