@keyframes fade-in {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.section {
    display: flex;
    flex-direction: column;
    gap: var(--main-content-gap);
    align-items: center;
    width: 100%;
    max-width: 400px;
    background-color: rgb(0 0 0 / 55%);
    border: 1px solid rgb(0 0 0 / 15%);
    border-radius: var(--card-border-radius);
    box-shadow:
        rgb(0 0 0 / 25%) 0 54px 55px,
        rgb(0 0 0 / 12%) 0 -12px 30px,
        rgb(0 0 0 / 12%) 0 4px 6px,
        rgb(0 0 0 / 17%) 0 12px 13px,
        rgb(0 0 0 / 9%) 0 -3px 5px;
    backdrop-filter: blur(12px);
    animation: 400ms fade-in ease;
    padding-block: var(--main-padding);
    padding-inline: var(--large-padding);

    h1 {
        text-align: center;

        @include text-header-5;
    }
}

.user-icon {
    width: 128px;
}

.footer {
    margin-block-start: auto;
}
