.content {
    display: flex;
    margin-block-start: 88px;
    gap: var(--main-padding-2);

    @include mobile {
        flex-direction: column;
    }
}

.film-poster {
    min-width: 232px;
    max-width: 232px;
    aspect-ratio: 0.667;

    @include mobile {
        margin-inline: auto;
    }
}

.section {
    display: flex;
    flex-direction: column;
}

.rating-section {
    display: flex;
    gap: var(--large-padding);
    align-items: flex-end;
    height: fit-content;

    @include mobile {
        order: 0 !important;
    }
}

.top-info {
    display: flex;
    gap: var(--main-padding-2);

    @include mobile {
        flex-direction: column;
    }

    > section {
        order: 1;
    }
}

.description-section {
    margin-block-start: var(--main-padding-2);

    p {
        margin-block-start: var(--main-content-gap);
    }
}

.title {
    @include text-header-2;
}

.fav-button {
    margin-block-start: var(--main-padding);
}
