.content {
    --backdrop-height: calc(270px + var(--header-height));

    display: flex;
    gap: var(--main-padding-2);
    padding-block-start: calc(var(--backdrop-height) / 4);

    @include mobile {
        flex-direction: column;
        padding-block-start: 0;
    }

    @include mobile {
        --backdrop-height: 100%;
    }
}

.film-poster {
    z-index: 2;
    min-width: 300px;
    max-width: 300px;
    aspect-ratio: 0.667;

    @include mobile {
        margin-inline: auto;
    }
}

.section {
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;

    @include not-mobile {
        padding-block-start: calc(var(--backdrop-height) / 4);
    }
}

.right-container {
    display: flex;
    flex-direction: column;
    gap: calc(var(--main-padding-2) * 2);
    order: 2;

    @include mobile {
        flex-direction: column;
        align-items: center;
        order: 0 !important;
    }
}

.rating-container {
    display: flex;
    gap: var(--large-padding);
    align-items: flex-end;
    width: 100%;
    height: fit-content;

    button {
        flex-grow: 1;
        width: auto !important;
    }

    @include tablet {
        flex-wrap: wrap;
    }
}

.top-info {
    display: flex;
    gap: var(--main-padding-2);
    justify-content: space-between;

    @include mobile {
        flex-direction: column;
    }

    > section {
        order: 1;
    }
}

.description-section {
    margin-block-start: var(--main-padding-2);

    p {
        margin-block-start: var(--main-content-gap);

        @include cut-for-n-rows(8);
    }
}

.title {
    @include text-header-1;

    @include not-mobile {
        text-shadow: 3px 4px 7px rgb(0 0 0 / 80%);
    }

    @include mobile {
        margin-block-start: var(--main-content-gap);

        @include text-header-2;

        text-align: center;
    }

    font-weight: bold;
}

.fav-button {
    margin-block-start: var(--main-padding);
}

.backdrop {
    position: absolute;

    // top: var(--header-height);
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: var(--backdrop-height);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    filter: blur(1px);

    &::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgb(0 0 0 / 20%);
        content: '';

        @include mobile {
            background: rgb(0 0 0 / 40%);
        }
    }

    &::before {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
            180deg,
            rgb(0 0 0 / 0%) 0%,
            rgb(0 0 0) 50%,
            rgb(0 0 0 / 70%) 60%,
            rgb(0 0 0 / 0%) 100%
        );
        filter: blur(4px);
        content: '';
    }

    @include mobile {
        filter: blur(8px);
    }
}

.left-container {
    z-index: 2;
    height: fit-content;

    @include not-mobile {
        position: sticky;
        top: calc(var(--header-height) + var(--main-padding-2));
    }
}

.info-table {
    margin-block-start: var(--main-padding-2);
}

.roles-section {
    width: 100%;

    h1 {
        color: var(--light-gray);

        @include text-button;
    }

    ul {
        padding: 0;
    }

    li {
        padding-block: calc(var(--main-text-gap) / 2);

        &::marker {
            display: none;
            content: '';
        }
    }
}
