.rating-circle {
    @include text-secondary-small;

    position: absolute;
    top: 4px;
    right: 4px;
    z-index: 2;
    display: flex;
    justify-content: center;
    width: fit-content;
    padding: 4px 8px;
    color: var(--white);
    font-weight: 800;
    background: var(--success);
    border-radius: 4px;

    @include rating-badge-color;
}
