.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 380px;
    margin-inline: auto;
}

.section {
    display: flex;
    flex-direction: column;
    gap: var(--main-padding);
    width: 100%;
    margin-top: var(--main-padding-2);

    &.logout {
        justify-content: center;
        text-align: center;

        h1 {
            @include text-header-3;
        }
    }
}
