.header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: var(--header-z-index);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: var(--header-height);
    overflow: hidden;
    overflow: visible;
    background: transparent;
    padding-block: var(--small-padding);

    &::before {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        background: inherit;
        background-color: rgb(var(--violet-black-rgb) / 50%);
        border-bottom: 1px solid rgb(0 0 0 / 15%);
        filter: drop-shadow(0 8px 24px rgb(0 0 0 / 10%));
        backdrop-filter: blur(32px);
        content: '';
    }
}

.logout-button {
    color: var(--light-gray);
    cursor: pointer;
    transition: var(--item-transition-all);

    &:hover {
        color: var(--background-gray);
    }

    &:active {
        color: var(--light-gray);
    }
}

.avatar-container {
    display: flex;
    gap: var(--small-padding);
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    padding-block: 4px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: var(--max-content-width);
    height: 100%;
    padding-inline: var(--main-content-padding);
}

.tabs {
    display: flex;
    gap: var(--small-padding);
    align-items: center;
    justify-content: center;
    margin-inline-start: auto;

    @include mobile {
        display: none;
    }
}

.avatar {
    --avatar-size: 56px !important;

    @include mobile {
        --avatar-size: 40px !important;
    }
}

.header-logo {
    // height: 100%;
    // aspect-ratio: 1;
}

.avatar-button {
    flex-shrink: 0;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 0 none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    aspect-ratio: 1;
}

.popover-button {
    font-weight: normal;
    font-size: 1rem;
}

.hidden {
    display: none;
}

.mobile-hidden {
    @include mobile {
        display: none;
    }
}

.search {
    display: flex;
    margin-inline: auto var(--main-padding-2);
    justify-content: center;

    @include mobile {
        margin-inline-end: 0;
    }
}

.star-icon {
    height: 100% !important;
}
