.title {
    @include text-header-5;

    width: 100%;
    font-weight: 500;
    font-size: 1.25rem;
    color: var(--text-color);

    @include cut-for-n-rows(3);
}

.item {

    position: relative;
    display: flex;
    flex-direction: column;
    //width: 320px;
    gap: var(--main-content-gap);
    align-items: flex-start;
}

.header {
    display: flex;
    gap: var(--main-content-gap);
    align-items: center;

    @include mobile {
        flex-direction: column;
        text-align: center;
    }
}

.info {
    display: flex;
    flex-direction: column;
    gap: var(--main-text-gap);
    align-items: flex-start;
    color: var(--light-gray);

    &.small {
        @include text-secondary;
    }
}

.poster {
    width: 584px !important;
    min-width: 320px !important;
    aspect-ratio: 1;
    border-radius: var(--item-border-radius);

}
