.icon-container {
    z-index: 2;
}

.icon {
    svg {
        @include fade-in-opacity(300ms ease);

        path {
            fill: var(--light-gray);
        }
    }
}

.complexity {
    --color: var(--text-color);

    @include text-secondary;

    position: relative;
    width: 100%;
    color: var(--color);
    font-weight: 500;
    transition: var(--item-transition-all);
    padding-block-start: var(--small-padding);

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: var(--color);
        border-radius: 100px;
        transition: var(--item-transition-all);
        content: '';
    }

    &.bad {
        --color: var(--error-red);

        &::before {
            width: 50%;
        }
    }

    &.medium {
        --color: var(--yellow);

        &::before {
            width: 75%;
        }
    }

    &.good {
        --color: var(--success);

        &::before {
            width: 100%;
        }
    }
}
