.footer {
    display: flex;
    flex-direction: column;
    gap: var(--main-padding-2);
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 72px;
    background-color: var(--black);
}
