.head {
    @include text-header-3-light;
}

.grid-container {
    margin-block-start: var(--main-padding-2);
}

.toggle-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: var(--main-content-gap);
    margin-block-start: var(--main-padding-2);
}
