/* stylelint-disable no-descending-specificity */
.container-box {
    display: flex;
    flex-direction: column;
    gap: var(--small-padding);
    width: fit-content;
}

.container {
    display: flex;
    gap: 4px;
    width: fit-content;
    padding: var(--item-padding) var(--item-inline-padding);
    border: 1px solid var(--secondary-gray);
    border-radius: var(--item-border-radius);
    transition: var(--item-transition-all);

    &.error {
        border: 1px solid var(--error-red);
    }
}

.value {
    position: relative;
    color: var(--radio-color);
    cursor: pointer;

    --radio-color: var(--secondary-gray);

    transition: var(--item-transition-all);

    @include text-button;

    &:has(input:checked),
    &:hover {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
            --radio-color: var(--error-red);
        }

        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6) {
            --radio-color: var(--yellow);
        }

        &:nth-child(7),
        &:nth-child(8),
        &:nth-child(9),
        &:nth-child(10) {
            --radio-color: var(--success);
        }
    }

    input {
        position: absolute;
        width: 0;
        height: 0;
        border-width: 0;
        opacity: 0;
    }
}
