.content {
    display: flex;
    flex-direction: column;
    margin-block-start: 88px;
    gap: var(--main-padding-2);
}

.film-poster {
    min-width: 232px;
    max-width: 232px;
    aspect-ratio: 0.667;

    @include mobile {
        margin-inline: auto;
    }
}

.top-info {
    display: flex;
    gap: var(--main-padding-2);

    @include mobile {
        flex-direction: column;
    }
}

.title {
    @include text-header-2;
}

.roles-section {
    margin-block-start: var(--main-padding-2);

    h1 {
        @include text-header-4;
    }
}

.grid-container {
    margin-block-start: var(--main-content-offset);
}

.role-type-section {
    margin-block-start: var(--main-padding-2);
    display: flex;
    flex-direction: column;
    gap: var(--main-padding-2);

    h1 {
        @include text-header-5;

        color: var(--light-gray);
        font-weight: bold;
    }
}
