.avatar {
    --avatar-size: 144px;

    min-width: var(--avatar-size);
    max-width: var(--avatar-size);
    overflow: hidden;
    border-radius: 50%;
    aspect-ratio: 1;

    @include mobile {
        --avatar-size: 100px;
    }
}
