.container {
    position: relative;
    width: fit-content;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
}

.hidden-input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    user-select: none;
    pointer-events: none;
}
