.title {
    @include text-header-5;

    width: 100%;
    font-weight: 500;
    font-size: 1.25rem;
    color: var(--text-color);

    @include cut-for-n-rows(3);
}

.item {
    @include card-hover-effect;

    display: flex;
    gap: var(--main-content-gap);
    align-items: center;
}

.poster {
    width: 320px !important;
    min-width: 320px !important;
    aspect-ratio: 1;
    border-radius: var(--item-border-radius);
}

.info {
    display: flex;
    flex-direction: column;
}
