.label {
    color: var(--light-gray);
}

.table {
    td {
        padding-block: calc(var(--small-padding));
        color: var(--light-gray);

        &:first-child {
            padding-inline-end: var(--main-padding-2);

            @include mobile {
                padding-inline-end: var(--main-padding);
            }
        }
    }
}

.not-found {
    color: var(--secondary-gray);
    user-select: none;
}
