.label {
    color: var(--light-gray);
}

.table {
    td {
        padding-block: var(--main-content-gap);

        &:first-child {
            padding-inline-end: var(--main-padding-2);
        }
    }
}

.not-found {
    color: var(--secondary-gray);
    user-select: none;
}
