.link {
    color: var(--text-color);
    transition: var(--item-transition-all);

    &:hover {
        color: var(--purple);
    }

    &:active {
        opacity: 0.6;
    }

    &.active {
        color: var(--purple);
    }
}
